<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- <link rel="stylesheet" href="projectprac.css"> -->
  <link rel="stylesheet" href="/css/tech.css">
</head>

<body>
  <div class="head">
    <img id="logo" src="/images/pics/cdac logo.jpg" alt="">
    <div class="title">
      <h1> Centre for Development of Advanced Computing,SILCHAR</h1>
      <h3 style="font-size:30px;">Grievance Redressal System</h3>
    </div>
    <img id="clg" src="/images/pics/images.jpeg" alt="">
  </div>
  <div class="navbar">
    <a href="" class="home "><img src="/images/pics/home logo.png" alt=""></a>
    <div class="navmini">
      <a href="http://www.nits.ac.in/" class="nav"> About</a>
      <a href="" class="nav">Feedback </a>
      <a href="" class="nav">Guidelines</a>
      <a href="" class="nav"><%= user.firstName %> </a>
      <a href="/logout" class="nav">logOut</a>
    </div>
  </div>
  <div class="middlecontainer">
    <div id="main">
      <div id="top">
        <button id="topone">Assigned complaints</button>
        <button id="toptwo">Accepted complaints</button>
      </div>
      <!-- begin of center1 -->
      <div id="center1">
        <!-- begin of sidebar   -->              
             
        <div id="centeroneloo" >
          <% if(complaint){complaint.forEach((items)=>{if(items.assignedTo === user.username){ %>  
          <!-- <div class="sidebar1"> -->
            <button class="click1" onclick="openpopup(this)"><%= items.subject %> </button>
          <!-- </div> -->
          <!-- <div class="defualt def1">
            Select from assigned complaints
          </div> -->
          <div class="center1main">
            <div class="info">
              <p><b>Date &Time of Registion:</b>&nbsp;&nbsp;<%=items.date %></p>
                    <p><b>Area:</b> &nbsp;&nbsp; <%=items.area %></p>
                    <p><b>Hostel Name:</b>&nbsp;&nbsp;<%=items.building %>  </p>
                    <p><b>Room Number: </b>&nbsp;&nbsp; <%=items.room %></p>
                    <p><b>Subject of the complain:</b>&nbsp;&nbsp;<%=items.subject %></p>
                    <p><b>Details of complaint:</b> &nbsp;&nbsp;<%=items.complaint %></p>
                    <p><b>Complaint Progress:&nbsp;&nbsp;</b> <%=items.progress %> </p>
              <p>VIEW PICTURE<span>:</span><span><img src=""></span></p>
            </div>
            <div class="confirm">
              <button>accept</button>
              <button>reject</button>
            </div>
          </div>
          <%} })}; %> 
        </div>
      </div>

      <div id="center2">
        <div id="centertwoloo">
          <div class="sidebar2">
            <button class="click2">subject of complaint 2</button>
            <button class="click2">subject of complaint 2</button>
            <button class="click2">subject of complaint 2</button>
            <button class="click2">subject of complaint 2</button>
            <button class="click2">subject of complaint 2</button>
          </div>
          <div class="defualt def2">
            select from accepted complaints
          </div>
          <div class="center2main">
            <div class="info">
              <p>Subject of coamplaint<span>:</span><span>Network</span></p>
              <p>Area<span>:</span><span>Boys hostel</span></p>
              <p>Name Of the building<span>:</span><span>BH6</span></p>
              <p>Room no<span>:</span><span>6041</span></p>
              <p>Complaint specification<span>:</span><span>Lan has not been connecting since 3 days </span></p>
              <p>VIEW PICTURE<span>:</span><span><img src=""></span></p>
            </div>
            <div class="confirm">
              <button>accept</button>
              <button>reject</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <footer>
    <p>
      <a href="https://www.cdac.in/index.aspx?id=help">Help</a>
      <a href="https://www.cdac.in/index.aspx?id=website_policies">Website Policies</a>
      <a href="https://www.cdac.in/index.aspx?id=legal_notice#2">Copyrights Policy</a>
      <a href="https://www.cdac.in/index.aspx?id=terms_conditions">Terms & Conditions</a>
      <a href="https://www.cdac.in/index.aspx?id=reach_us">Reach Us</a>
      <a href="https://www.facebook.com/CDACINDIA/"><img src="/images/pics/facebook.png" alt=""></a>
      <a href="https://www.linkedin.com/messaging/thread/2-NzI2YmNjMmItNzU3NS00ZjRiLTllZDMtNmZjNzU3MGJiZDIyXzAxMw==/"><img
          src="/images/pics/linkedin.png" alt=""></a>
      <a href="https://twitter.com/cdacindia?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img
          src="/images/pics/twitter.png" alt=""></a>
    </p>
    <p>Website owned & maintained by: Centre for Development of Advanced Computing (C-DAC)</p>
    <p>© 2022 C-DAC. All rights reserved, Last Updated: Monday, December 26, 2022</p>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="/js/tech.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

</body>

</html>